<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <title>Africardo | Dashboard</title>
  </head>
  <style>

          .farm-table{
        max-width:100vw;
        max-height:100vh;
        overflow:scroll
        }

       td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #005f3c;
  color: white;
}
  </style>
  <body class="home">
    <div class="container-fluid display-table">
        <div class="row">
            <div class="col-2 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo p-2">
                   <a href="/">
                       <img src="{{ url_for('static', filename='ekulima.png') }}">
                        <h1 class="sr-only">AgDevCo</h1></a>
                </div>
                <div class="navi">
                    <ul class ="d_links">
                         <li id="major_li" class="active"><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Major</span></a></li>
                        <li id="minor_li"><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Minor</span></a></li>
                       <li id="score_li"><a href="#"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Complience Score</span></a></li>



                    </ul>
                </div>
            </div>
            <div class="col-10 display-table-cell v-align">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Dashbord</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

            <a class="nav-item nav-link" href="#">About</a>
            <a class="nav-item nav-link" href="#">Methodology</a>

            </div>
            </div>
            </nav>

              <div class="row">

                <div class="card col-12 farm-table major-records">
  <div class="card-header"> Major : 2019 <span class="float-right"><button class ="btn btn-primary g-major">Generate Scores</button></span></div>
                    <div id="major" class="card-body" ></div>
</div>
<div class="card col-12 farm-table minor-records d-none">
                    <div class="card-header"> Minor : 2019 <span class="float-right"><button class ="btn btn-primary g-minor">Generate Scores</button></span></div>
                    <div id="minor" class="card-body " ></div>

</div>
                  <div class="card col-12 farm-table score-records d-none">
                    <div class="card-header"> Complience Score : 2019</div>
                    <div id="score" class="card-body " ></div>

</div>


              </div>

        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
       <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
      <script src="{{ url_for('static', filename='app.js') }}"></script>

  </body>
</html>